<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>연락처</h1>

    <form action="{% url 'phone:result' %}" method="GET">
    <input type="text" name="keyword" value="{{ keyword }}">
    <input type="submit" value="검색">
    </form>
    <hr>

    {% for phone in phones %}
    <div style="border-bottom: 1px solid #ccc; padding: 10px;"></div>
    <h3><a href = "{% url 'phone:detail' phone.id %}">{{ phone.name }}</a> {{ phone.phone_num }}</h3>

    <a href = "{% url 'phone:update' phone.id %}">수정</a>
    <a href = "{% url 'phone:delete' phone.id%}">삭제</a>

    {% empty %}
        해당 검색어와 관련된 전화번호가 없습니다.
    {% endfor %}
    <br>
    <a href ="{% url 'phone:create' %}">새 번호 등록</a>
</body>
</html>