<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load humanize %}
    <a href="{% url 'posts:category' slug='secret' %}">비밀게시판</a>
    <a href="{% url 'posts:category' slug='freshman' %}">새내기게시판</a>
    <a href="{% url 'posts:category' slug='free' %}">자유게시판</a>
    <br>

    {% if request.user.is_authenticated %}
        <p>nickname : {{ request.user.username }}</p>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
        <hr>
        
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}

    {% for category, posts in category_posts.items %}
        <h2><a href="{% url 'posts:category' category.slug %}">{{ category.name }}</a></h2>

        {% for post in posts %}
        <p><a href="{% url 'posts:detail' post.id}">{{ post.title }}</a></p>
        {% empty %}
        <p>작성된 글이 없습니다. </p>
        {% endfor %}
    {% endfor %}

</body>
</html>